{"openapi":"3.1.0","info":{"title":"Quantix Lab Maps API","version":"1.0.0","description":"Normalized regional mapping API. Data © OpenStreetMap contributors, ODbL 1.0."},"servers":[{"url":"https://maps.quantixlab.dev"}],"components":{"securitySchemes":{"PublishableKey":{"type":"apiKey","in":"header","name":"X-Quantix-Maps-Key"},"ServerKey":{"type":"http","scheme":"bearer","bearerFormat":"qlm_sk"},"OperatorToken":{"type":"http","scheme":"bearer"}},"schemas":{"Problem":{"type":"object","properties":{"type":{"type":"string","format":"uri"},"title":{"type":"string"},"status":{"type":"integer"},"requestId":{"type":"string"},"detail":{"type":"string"}},"required":["type","title","status","requestId"],"additionalProperties":false},"RouteRequest":{"type":"object","properties":{"profile":{"type":"string","enum":["DRIVING","BICYCLE","WALKING"]},"points":{"type":"array","items":{"type":"object","properties":{"latitude":{"type":"number","minimum":-12,"maximum":38},"longitude":{"type":"number","minimum":60,"maximum":142},"headingDegrees":{"type":"number","minimum":0,"exclusiveMaximum":360},"headingToleranceDegrees":{"type":"number","minimum":0,"maximum":180},"radiusMeters":{"type":"number","exclusiveMinimum":0,"maximum":1000}},"required":["latitude","longitude"],"additionalProperties":false},"minItems":2,"maxItems":25},"language":{"type":"string"}},"required":["profile","points"],"additionalProperties":false},"RouteResponse":{"type":"object","properties":{"requestId":{"type":"string"},"datasetVersion":{"type":"string"},"attribution":{"type":"string"},"distanceMeters":{"type":"number","minimum":0},"durationSeconds":{"type":"number","minimum":0},"legs":{"type":"array","items":{"type":"object","properties":{"encodedPolyline6":{"type":"string"},"distanceMeters":{"type":"number","minimum":0},"durationSeconds":{"type":"number","minimum":0},"maneuvers":{"type":"array","items":{"type":"object","properties":{"instruction":{"type":"string"},"distanceMeters":{"type":"number","minimum":0},"durationSeconds":{"type":"number","minimum":0},"beginShapeIndex":{"type":"integer","minimum":0},"endShapeIndex":{"type":"integer","minimum":0},"type":{"type":"integer","minimum":0},"streetNames":{"type":"array","items":{"type":"string"}},"verbalTransitionAlertInstruction":{"type":"string"},"verbalPreTransitionInstruction":{"type":"string"},"verbalPostTransitionInstruction":{"type":"string"},"signText":{"type":"array","items":{"type":"string"}}},"required":["instruction","distanceMeters","durationSeconds","beginShapeIndex","endShapeIndex"],"additionalProperties":false}}},"required":["encodedPolyline6","distanceMeters","durationSeconds","maneuvers"],"additionalProperties":false},"minItems":1}},"required":["requestId","datasetVersion","attribution","distanceMeters","durationSeconds","legs"],"additionalProperties":false},"MatchRequest":{"type":"object","properties":{"profile":{"type":"string","enum":["DRIVING","BICYCLE","WALKING"]},"points":{"type":"array","items":{"type":"object","properties":{"latitude":{"type":"number","minimum":-12,"maximum":38},"longitude":{"type":"number","minimum":60,"maximum":142},"timestampSeconds":{"type":"integer","minimum":0}},"required":["latitude","longitude"],"additionalProperties":false},"minItems":2,"maxItems":2000},"gpsAccuracyM":{"type":"number","exclusiveMinimum":0,"maximum":100},"searchRadiusM":{"type":"number","exclusiveMinimum":0,"maximum":100}},"required":["profile","points"],"additionalProperties":false},"MatchResponse":{"type":"object","properties":{"requestId":{"type":"string"},"datasetVersion":{"type":"string"},"attribution":{"type":"string"},"encodedPolyline6":{"type":"string"},"distanceMeters":{"type":"number","minimum":0},"durationSeconds":{"type":"number","minimum":0},"confidence":{"type":"number","minimum":0,"maximum":1},"matchedPoints":{"type":"array","items":{"type":"object","properties":{"latitude":{"type":"number"},"longitude":{"type":"number"},"matchType":{"type":"string","enum":["MATCHED","INTERPOLATED","UNMATCHED"]},"edgeIndex":{"type":"integer","minimum":0},"distanceAlongEdge":{"type":"number","minimum":0},"distanceFromTracePointM":{"type":"number","minimum":0}},"required":["latitude","longitude","matchType"],"additionalProperties":false}}},"required":["requestId","datasetVersion","attribution","encodedPolyline6","distanceMeters","durationSeconds","matchedPoints"],"additionalProperties":false},"MatrixRequest":{"type":"object","properties":{"profile":{"type":"string","enum":["DRIVING","BICYCLE","WALKING"]},"sources":{"type":"array","items":{"type":"object","properties":{"latitude":{"type":"number","minimum":-12,"maximum":38},"longitude":{"type":"number","minimum":60,"maximum":142}},"required":["latitude","longitude"],"additionalProperties":false},"minItems":1,"maxItems":25},"targets":{"type":"array","items":{"type":"object","properties":{"latitude":{"type":"number","minimum":-12,"maximum":38},"longitude":{"type":"number","minimum":60,"maximum":142}},"required":["latitude","longitude"],"additionalProperties":false},"minItems":1,"maxItems":25}},"required":["profile","sources","targets"],"additionalProperties":false},"MatrixResponse":{"type":"object","properties":{"requestId":{"type":"string"},"datasetVersion":{"type":"string"},"attribution":{"type":"string"},"distancesMeters":{"type":"array","items":{"type":"array","items":{"type":["number","null"],"minimum":0}}},"durationsSeconds":{"type":"array","items":{"type":"array","items":{"type":["number","null"],"minimum":0}}}},"required":["requestId","datasetVersion","attribution","distancesMeters","durationsSeconds"],"additionalProperties":false},"GeocodeResponse":{"type":"object","properties":{"requestId":{"type":"string"},"datasetVersion":{"type":"string"},"attribution":{"type":"string"},"items":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"secondaryLabel":{"type":"string"},"point":{"type":"object","properties":{"latitude":{"type":"number","minimum":-12,"maximum":38},"longitude":{"type":"number","minimum":60,"maximum":142}},"required":["latitude","longitude"],"additionalProperties":false},"countryCode":{"type":"string","enum":["BD","IN","PK","NP","BT","LK","MM","ID","PH","TH","MY","SG","VN","KH","LA","BN","TL","MV"]},"state":{"type":"string"},"county":{"type":"string"},"city":{"type":"string"},"postcode":{"type":"string"},"street":{"type":"string"},"houseNumber":{"type":"string"}},"required":["id","name","secondaryLabel","point"],"additionalProperties":false}}},"required":["requestId","datasetVersion","attribution","items"],"additionalProperties":false}},"parameters":{}},"paths":{"/health/live":{"get":{"tags":["Health"],"summary":"Process liveness","responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"string","enum":["ok"]}},"required":["status"]}}}}}}},"/v1/catalog":{"get":{"tags":["Assets"],"summary":"Active dataset and capabilities","security":[{"PublishableKey":[]},{"ServerKey":[]}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"requestId":{"type":"string"},"datasetVersion":{"type":"string"},"attribution":{"type":"string"}},"required":["requestId","datasetVersion","attribution"],"additionalProperties":{}}}}},"400":{"description":"Problem details","content":{"application/problem+json":{"schema":{"type":"object","properties":{"type":{"type":"string","format":"uri"},"title":{"type":"string"},"status":{"type":"integer"},"requestId":{"type":"string"},"detail":{"type":"string"}},"required":["type","title","status","requestId"],"additionalProperties":false}}}},"401":{"description":"Problem details","content":{"application/problem+json":{"schema":{"type":"object","properties":{"type":{"type":"string","format":"uri"},"title":{"type":"string"},"status":{"type":"integer"},"requestId":{"type":"string"},"detail":{"type":"string"}},"required":["type","title","status","requestId"],"additionalProperties":false}}}},"403":{"description":"Problem details","content":{"application/problem+json":{"schema":{"type":"object","properties":{"type":{"type":"string","format":"uri"},"title":{"type":"string"},"status":{"type":"integer"},"requestId":{"type":"string"},"detail":{"type":"string"}},"required":["type","title","status","requestId"],"additionalProperties":false}}}},"413":{"description":"Problem details","content":{"application/problem+json":{"schema":{"type":"object","properties":{"type":{"type":"string","format":"uri"},"title":{"type":"string"},"status":{"type":"integer"},"requestId":{"type":"string"},"detail":{"type":"string"}},"required":["type","title","status","requestId"],"additionalProperties":false}}}},"415":{"description":"Problem details","content":{"application/problem+json":{"schema":{"type":"object","properties":{"type":{"type":"string","format":"uri"},"title":{"type":"string"},"status":{"type":"integer"},"requestId":{"type":"string"},"detail":{"type":"string"}},"required":["type","title","status","requestId"],"additionalProperties":false}}}},"422":{"description":"Problem details","content":{"application/problem+json":{"schema":{"type":"object","properties":{"type":{"type":"string","format":"uri"},"title":{"type":"string"},"status":{"type":"integer"},"requestId":{"type":"string"},"detail":{"type":"string"}},"required":["type","title","status","requestId"],"additionalProperties":false}}}},"429":{"description":"Problem details","content":{"application/problem+json":{"schema":{"type":"object","properties":{"type":{"type":"string","format":"uri"},"title":{"type":"string"},"status":{"type":"integer"},"requestId":{"type":"string"},"detail":{"type":"string"}},"required":["type","title","status","requestId"],"additionalProperties":false}}}},"502":{"description":"Problem details","content":{"application/problem+json":{"schema":{"type":"object","properties":{"type":{"type":"string","format":"uri"},"title":{"type":"string"},"status":{"type":"integer"},"requestId":{"type":"string"},"detail":{"type":"string"}},"required":["type","title","status","requestId"],"additionalProperties":false}}}},"503":{"description":"Problem details","content":{"application/problem+json":{"schema":{"type":"object","properties":{"type":{"type":"string","format":"uri"},"title":{"type":"string"},"status":{"type":"integer"},"requestId":{"type":"string"},"detail":{"type":"string"}},"required":["type","title","status","requestId"],"additionalProperties":false}}}},"504":{"description":"Problem details","content":{"application/problem+json":{"schema":{"type":"object","properties":{"type":{"type":"string","format":"uri"},"title":{"type":"string"},"status":{"type":"integer"},"requestId":{"type":"string"},"detail":{"type":"string"}},"required":["type","title","status","requestId"],"additionalProperties":false}}}}}}},"/v1/styles/{theme}.json":{"get":{"tags":["Assets"],"summary":"MapLibre style","security":[{"PublishableKey":[]}],"parameters":[{"schema":{"type":"string"},"required":true,"name":"theme","in":"path"}],"responses":{"200":{"description":"MapLibre style"},"400":{"description":"Problem details","content":{"application/problem+json":{"schema":{"type":"object","properties":{"type":{"type":"string","format":"uri"},"title":{"type":"string"},"status":{"type":"integer"},"requestId":{"type":"string"},"detail":{"type":"string"}},"required":["type","title","status","requestId"],"additionalProperties":false}}}},"401":{"description":"Problem details","content":{"application/problem+json":{"schema":{"type":"object","properties":{"type":{"type":"string","format":"uri"},"title":{"type":"string"},"status":{"type":"integer"},"requestId":{"type":"string"},"detail":{"type":"string"}},"required":["type","title","status","requestId"],"additionalProperties":false}}}},"403":{"description":"Problem details","content":{"application/problem+json":{"schema":{"type":"object","properties":{"type":{"type":"string","format":"uri"},"title":{"type":"string"},"status":{"type":"integer"},"requestId":{"type":"string"},"detail":{"type":"string"}},"required":["type","title","status","requestId"],"additionalProperties":false}}}},"413":{"description":"Problem details","content":{"application/problem+json":{"schema":{"type":"object","properties":{"type":{"type":"string","format":"uri"},"title":{"type":"string"},"status":{"type":"integer"},"requestId":{"type":"string"},"detail":{"type":"string"}},"required":["type","title","status","requestId"],"additionalProperties":false}}}},"415":{"description":"Problem details","content":{"application/problem+json":{"schema":{"type":"object","properties":{"type":{"type":"string","format":"uri"},"title":{"type":"string"},"status":{"type":"integer"},"requestId":{"type":"string"},"detail":{"type":"string"}},"required":["type","title","status","requestId"],"additionalProperties":false}}}},"422":{"description":"Problem details","content":{"application/problem+json":{"schema":{"type":"object","properties":{"type":{"type":"string","format":"uri"},"title":{"type":"string"},"status":{"type":"integer"},"requestId":{"type":"string"},"detail":{"type":"string"}},"required":["type","title","status","requestId"],"additionalProperties":false}}}},"429":{"description":"Problem details","content":{"application/problem+json":{"schema":{"type":"object","properties":{"type":{"type":"string","format":"uri"},"title":{"type":"string"},"status":{"type":"integer"},"requestId":{"type":"string"},"detail":{"type":"string"}},"required":["type","title","status","requestId"],"additionalProperties":false}}}},"502":{"description":"Problem details","content":{"application/problem+json":{"schema":{"type":"object","properties":{"type":{"type":"string","format":"uri"},"title":{"type":"string"},"status":{"type":"integer"},"requestId":{"type":"string"},"detail":{"type":"string"}},"required":["type","title","status","requestId"],"additionalProperties":false}}}},"503":{"description":"Problem details","content":{"application/problem+json":{"schema":{"type":"object","properties":{"type":{"type":"string","format":"uri"},"title":{"type":"string"},"status":{"type":"integer"},"requestId":{"type":"string"},"detail":{"type":"string"}},"required":["type","title","status","requestId"],"additionalProperties":false}}}},"504":{"description":"Problem details","content":{"application/problem+json":{"schema":{"type":"object","properties":{"type":{"type":"string","format":"uri"},"title":{"type":"string"},"status":{"type":"integer"},"requestId":{"type":"string"},"detail":{"type":"string"}},"required":["type","title","status","requestId"],"additionalProperties":false}}}}}}},"/v1/tiles/{source}.json":{"get":{"tags":["Assets"],"summary":"TileJSON","security":[{"PublishableKey":[]}],"parameters":[{"schema":{"type":"string"},"required":true,"name":"source","in":"path"}],"responses":{"200":{"description":"TileJSON"},"400":{"description":"Problem details","content":{"application/problem+json":{"schema":{"type":"object","properties":{"type":{"type":"string","format":"uri"},"title":{"type":"string"},"status":{"type":"integer"},"requestId":{"type":"string"},"detail":{"type":"string"}},"required":["type","title","status","requestId"],"additionalProperties":false}}}},"401":{"description":"Problem details","content":{"application/problem+json":{"schema":{"type":"object","properties":{"type":{"type":"string","format":"uri"},"title":{"type":"string"},"status":{"type":"integer"},"requestId":{"type":"string"},"detail":{"type":"string"}},"required":["type","title","status","requestId"],"additionalProperties":false}}}},"403":{"description":"Problem details","content":{"application/problem+json":{"schema":{"type":"object","properties":{"type":{"type":"string","format":"uri"},"title":{"type":"string"},"status":{"type":"integer"},"requestId":{"type":"string"},"detail":{"type":"string"}},"required":["type","title","status","requestId"],"additionalProperties":false}}}},"413":{"description":"Problem details","content":{"application/problem+json":{"schema":{"type":"object","properties":{"type":{"type":"string","format":"uri"},"title":{"type":"string"},"status":{"type":"integer"},"requestId":{"type":"string"},"detail":{"type":"string"}},"required":["type","title","status","requestId"],"additionalProperties":false}}}},"415":{"description":"Problem details","content":{"application/problem+json":{"schema":{"type":"object","properties":{"type":{"type":"string","format":"uri"},"title":{"type":"string"},"status":{"type":"integer"},"requestId":{"type":"string"},"detail":{"type":"string"}},"required":["type","title","status","requestId"],"additionalProperties":false}}}},"422":{"description":"Problem details","content":{"application/problem+json":{"schema":{"type":"object","properties":{"type":{"type":"string","format":"uri"},"title":{"type":"string"},"status":{"type":"integer"},"requestId":{"type":"string"},"detail":{"type":"string"}},"required":["type","title","status","requestId"],"additionalProperties":false}}}},"429":{"description":"Problem details","content":{"application/problem+json":{"schema":{"type":"object","properties":{"type":{"type":"string","format":"uri"},"title":{"type":"string"},"status":{"type":"integer"},"requestId":{"type":"string"},"detail":{"type":"string"}},"required":["type","title","status","requestId"],"additionalProperties":false}}}},"502":{"description":"Problem details","content":{"application/problem+json":{"schema":{"type":"object","properties":{"type":{"type":"string","format":"uri"},"title":{"type":"string"},"status":{"type":"integer"},"requestId":{"type":"string"},"detail":{"type":"string"}},"required":["type","title","status","requestId"],"additionalProperties":false}}}},"503":{"description":"Problem details","content":{"application/problem+json":{"schema":{"type":"object","properties":{"type":{"type":"string","format":"uri"},"title":{"type":"string"},"status":{"type":"integer"},"requestId":{"type":"string"},"detail":{"type":"string"}},"required":["type","title","status","requestId"],"additionalProperties":false}}}},"504":{"description":"Problem details","content":{"application/problem+json":{"schema":{"type":"object","properties":{"type":{"type":"string","format":"uri"},"title":{"type":"string"},"status":{"type":"integer"},"requestId":{"type":"string"},"detail":{"type":"string"}},"required":["type","title","status","requestId"],"additionalProperties":false}}}}}}},"/v1/tiles/{source}/{z}/{x}/{y}.pbf":{"get":{"tags":["Assets"],"summary":"Vector tile","security":[{"PublishableKey":[]}],"parameters":[{"schema":{"type":"string"},"required":true,"name":"source","in":"path"},{"schema":{"type":"string"},"required":true,"name":"z","in":"path"},{"schema":{"type":"string"},"required":true,"name":"x","in":"path"},{"schema":{"type":"string"},"required":true,"name":"y","in":"path"}],"responses":{"200":{"description":"Vector tile"},"400":{"description":"Problem details","content":{"application/problem+json":{"schema":{"type":"object","properties":{"type":{"type":"string","format":"uri"},"title":{"type":"string"},"status":{"type":"integer"},"requestId":{"type":"string"},"detail":{"type":"string"}},"required":["type","title","status","requestId"],"additionalProperties":false}}}},"401":{"description":"Problem details","content":{"application/problem+json":{"schema":{"type":"object","properties":{"type":{"type":"string","format":"uri"},"title":{"type":"string"},"status":{"type":"integer"},"requestId":{"type":"string"},"detail":{"type":"string"}},"required":["type","title","status","requestId"],"additionalProperties":false}}}},"403":{"description":"Problem details","content":{"application/problem+json":{"schema":{"type":"object","properties":{"type":{"type":"string","format":"uri"},"title":{"type":"string"},"status":{"type":"integer"},"requestId":{"type":"string"},"detail":{"type":"string"}},"required":["type","title","status","requestId"],"additionalProperties":false}}}},"413":{"description":"Problem details","content":{"application/problem+json":{"schema":{"type":"object","properties":{"type":{"type":"string","format":"uri"},"title":{"type":"string"},"status":{"type":"integer"},"requestId":{"type":"string"},"detail":{"type":"string"}},"required":["type","title","status","requestId"],"additionalProperties":false}}}},"415":{"description":"Problem details","content":{"application/problem+json":{"schema":{"type":"object","properties":{"type":{"type":"string","format":"uri"},"title":{"type":"string"},"status":{"type":"integer"},"requestId":{"type":"string"},"detail":{"type":"string"}},"required":["type","title","status","requestId"],"additionalProperties":false}}}},"422":{"description":"Problem details","content":{"application/problem+json":{"schema":{"type":"object","properties":{"type":{"type":"string","format":"uri"},"title":{"type":"string"},"status":{"type":"integer"},"requestId":{"type":"string"},"detail":{"type":"string"}},"required":["type","title","status","requestId"],"additionalProperties":false}}}},"429":{"description":"Problem details","content":{"application/problem+json":{"schema":{"type":"object","properties":{"type":{"type":"string","format":"uri"},"title":{"type":"string"},"status":{"type":"integer"},"requestId":{"type":"string"},"detail":{"type":"string"}},"required":["type","title","status","requestId"],"additionalProperties":false}}}},"502":{"description":"Problem details","content":{"application/problem+json":{"schema":{"type":"object","properties":{"type":{"type":"string","format":"uri"},"title":{"type":"string"},"status":{"type":"integer"},"requestId":{"type":"string"},"detail":{"type":"string"}},"required":["type","title","status","requestId"],"additionalProperties":false}}}},"503":{"description":"Problem details","content":{"application/problem+json":{"schema":{"type":"object","properties":{"type":{"type":"string","format":"uri"},"title":{"type":"string"},"status":{"type":"integer"},"requestId":{"type":"string"},"detail":{"type":"string"}},"required":["type","title","status","requestId"],"additionalProperties":false}}}},"504":{"description":"Problem details","content":{"application/problem+json":{"schema":{"type":"object","properties":{"type":{"type":"string","format":"uri"},"title":{"type":"string"},"status":{"type":"integer"},"requestId":{"type":"string"},"detail":{"type":"string"}},"required":["type","title","status","requestId"],"additionalProperties":false}}}}}}},"/v1/fonts/{fontstack}/{range}.pbf":{"get":{"tags":["Assets"],"summary":"Glyph range","security":[{"PublishableKey":[]}],"parameters":[{"schema":{"type":"string"},"required":true,"name":"fontstack","in":"path"},{"schema":{"type":"string"},"required":true,"name":"range","in":"path"}],"responses":{"200":{"description":"Glyph range"},"400":{"description":"Problem details","content":{"application/problem+json":{"schema":{"type":"object","properties":{"type":{"type":"string","format":"uri"},"title":{"type":"string"},"status":{"type":"integer"},"requestId":{"type":"string"},"detail":{"type":"string"}},"required":["type","title","status","requestId"],"additionalProperties":false}}}},"401":{"description":"Problem details","content":{"application/problem+json":{"schema":{"type":"object","properties":{"type":{"type":"string","format":"uri"},"title":{"type":"string"},"status":{"type":"integer"},"requestId":{"type":"string"},"detail":{"type":"string"}},"required":["type","title","status","requestId"],"additionalProperties":false}}}},"403":{"description":"Problem details","content":{"application/problem+json":{"schema":{"type":"object","properties":{"type":{"type":"string","format":"uri"},"title":{"type":"string"},"status":{"type":"integer"},"requestId":{"type":"string"},"detail":{"type":"string"}},"required":["type","title","status","requestId"],"additionalProperties":false}}}},"413":{"description":"Problem details","content":{"application/problem+json":{"schema":{"type":"object","properties":{"type":{"type":"string","format":"uri"},"title":{"type":"string"},"status":{"type":"integer"},"requestId":{"type":"string"},"detail":{"type":"string"}},"required":["type","title","status","requestId"],"additionalProperties":false}}}},"415":{"description":"Problem details","content":{"application/problem+json":{"schema":{"type":"object","properties":{"type":{"type":"string","format":"uri"},"title":{"type":"string"},"status":{"type":"integer"},"requestId":{"type":"string"},"detail":{"type":"string"}},"required":["type","title","status","requestId"],"additionalProperties":false}}}},"422":{"description":"Problem details","content":{"application/problem+json":{"schema":{"type":"object","properties":{"type":{"type":"string","format":"uri"},"title":{"type":"string"},"status":{"type":"integer"},"requestId":{"type":"string"},"detail":{"type":"string"}},"required":["type","title","status","requestId"],"additionalProperties":false}}}},"429":{"description":"Problem details","content":{"application/problem+json":{"schema":{"type":"object","properties":{"type":{"type":"string","format":"uri"},"title":{"type":"string"},"status":{"type":"integer"},"requestId":{"type":"string"},"detail":{"type":"string"}},"required":["type","title","status","requestId"],"additionalProperties":false}}}},"502":{"description":"Problem details","content":{"application/problem+json":{"schema":{"type":"object","properties":{"type":{"type":"string","format":"uri"},"title":{"type":"string"},"status":{"type":"integer"},"requestId":{"type":"string"},"detail":{"type":"string"}},"required":["type","title","status","requestId"],"additionalProperties":false}}}},"503":{"description":"Problem details","content":{"application/problem+json":{"schema":{"type":"object","properties":{"type":{"type":"string","format":"uri"},"title":{"type":"string"},"status":{"type":"integer"},"requestId":{"type":"string"},"detail":{"type":"string"}},"required":["type","title","status","requestId"],"additionalProperties":false}}}},"504":{"description":"Problem details","content":{"application/problem+json":{"schema":{"type":"object","properties":{"type":{"type":"string","format":"uri"},"title":{"type":"string"},"status":{"type":"integer"},"requestId":{"type":"string"},"detail":{"type":"string"}},"required":["type","title","status","requestId"],"additionalProperties":false}}}}}}},"/v1/sprites/{name}.json":{"get":{"tags":["Assets"],"summary":"Sprite index","security":[{"PublishableKey":[]}],"parameters":[{"schema":{"type":"string"},"required":true,"name":"name","in":"path"}],"responses":{"200":{"description":"Sprite index"},"400":{"description":"Problem details","content":{"application/problem+json":{"schema":{"type":"object","properties":{"type":{"type":"string","format":"uri"},"title":{"type":"string"},"status":{"type":"integer"},"requestId":{"type":"string"},"detail":{"type":"string"}},"required":["type","title","status","requestId"],"additionalProperties":false}}}},"401":{"description":"Problem details","content":{"application/problem+json":{"schema":{"type":"object","properties":{"type":{"type":"string","format":"uri"},"title":{"type":"string"},"status":{"type":"integer"},"requestId":{"type":"string"},"detail":{"type":"string"}},"required":["type","title","status","requestId"],"additionalProperties":false}}}},"403":{"description":"Problem details","content":{"application/problem+json":{"schema":{"type":"object","properties":{"type":{"type":"string","format":"uri"},"title":{"type":"string"},"status":{"type":"integer"},"requestId":{"type":"string"},"detail":{"type":"string"}},"required":["type","title","status","requestId"],"additionalProperties":false}}}},"413":{"description":"Problem details","content":{"application/problem+json":{"schema":{"type":"object","properties":{"type":{"type":"string","format":"uri"},"title":{"type":"string"},"status":{"type":"integer"},"requestId":{"type":"string"},"detail":{"type":"string"}},"required":["type","title","status","requestId"],"additionalProperties":false}}}},"415":{"description":"Problem details","content":{"application/problem+json":{"schema":{"type":"object","properties":{"type":{"type":"string","format":"uri"},"title":{"type":"string"},"status":{"type":"integer"},"requestId":{"type":"string"},"detail":{"type":"string"}},"required":["type","title","status","requestId"],"additionalProperties":false}}}},"422":{"description":"Problem details","content":{"application/problem+json":{"schema":{"type":"object","properties":{"type":{"type":"string","format":"uri"},"title":{"type":"string"},"status":{"type":"integer"},"requestId":{"type":"string"},"detail":{"type":"string"}},"required":["type","title","status","requestId"],"additionalProperties":false}}}},"429":{"description":"Problem details","content":{"application/problem+json":{"schema":{"type":"object","properties":{"type":{"type":"string","format":"uri"},"title":{"type":"string"},"status":{"type":"integer"},"requestId":{"type":"string"},"detail":{"type":"string"}},"required":["type","title","status","requestId"],"additionalProperties":false}}}},"502":{"description":"Problem details","content":{"application/problem+json":{"schema":{"type":"object","properties":{"type":{"type":"string","format":"uri"},"title":{"type":"string"},"status":{"type":"integer"},"requestId":{"type":"string"},"detail":{"type":"string"}},"required":["type","title","status","requestId"],"additionalProperties":false}}}},"503":{"description":"Problem details","content":{"application/problem+json":{"schema":{"type":"object","properties":{"type":{"type":"string","format":"uri"},"title":{"type":"string"},"status":{"type":"integer"},"requestId":{"type":"string"},"detail":{"type":"string"}},"required":["type","title","status","requestId"],"additionalProperties":false}}}},"504":{"description":"Problem details","content":{"application/problem+json":{"schema":{"type":"object","properties":{"type":{"type":"string","format":"uri"},"title":{"type":"string"},"status":{"type":"integer"},"requestId":{"type":"string"},"detail":{"type":"string"}},"required":["type","title","status","requestId"],"additionalProperties":false}}}}}}},"/v1/sprites/{name}.png":{"get":{"tags":["Assets"],"summary":"Sprite image","security":[{"PublishableKey":[]}],"parameters":[{"schema":{"type":"string"},"required":true,"name":"name","in":"path"}],"responses":{"200":{"description":"Sprite image"},"400":{"description":"Problem details","content":{"application/problem+json":{"schema":{"type":"object","properties":{"type":{"type":"string","format":"uri"},"title":{"type":"string"},"status":{"type":"integer"},"requestId":{"type":"string"},"detail":{"type":"string"}},"required":["type","title","status","requestId"],"additionalProperties":false}}}},"401":{"description":"Problem details","content":{"application/problem+json":{"schema":{"type":"object","properties":{"type":{"type":"string","format":"uri"},"title":{"type":"string"},"status":{"type":"integer"},"requestId":{"type":"string"},"detail":{"type":"string"}},"required":["type","title","status","requestId"],"additionalProperties":false}}}},"403":{"description":"Problem details","content":{"application/problem+json":{"schema":{"type":"object","properties":{"type":{"type":"string","format":"uri"},"title":{"type":"string"},"status":{"type":"integer"},"requestId":{"type":"string"},"detail":{"type":"string"}},"required":["type","title","status","requestId"],"additionalProperties":false}}}},"413":{"description":"Problem details","content":{"application/problem+json":{"schema":{"type":"object","properties":{"type":{"type":"string","format":"uri"},"title":{"type":"string"},"status":{"type":"integer"},"requestId":{"type":"string"},"detail":{"type":"string"}},"required":["type","title","status","requestId"],"additionalProperties":false}}}},"415":{"description":"Problem details","content":{"application/problem+json":{"schema":{"type":"object","properties":{"type":{"type":"string","format":"uri"},"title":{"type":"string"},"status":{"type":"integer"},"requestId":{"type":"string"},"detail":{"type":"string"}},"required":["type","title","status","requestId"],"additionalProperties":false}}}},"422":{"description":"Problem details","content":{"application/problem+json":{"schema":{"type":"object","properties":{"type":{"type":"string","format":"uri"},"title":{"type":"string"},"status":{"type":"integer"},"requestId":{"type":"string"},"detail":{"type":"string"}},"required":["type","title","status","requestId"],"additionalProperties":false}}}},"429":{"description":"Problem details","content":{"application/problem+json":{"schema":{"type":"object","properties":{"type":{"type":"string","format":"uri"},"title":{"type":"string"},"status":{"type":"integer"},"requestId":{"type":"string"},"detail":{"type":"string"}},"required":["type","title","status","requestId"],"additionalProperties":false}}}},"502":{"description":"Problem details","content":{"application/problem+json":{"schema":{"type":"object","properties":{"type":{"type":"string","format":"uri"},"title":{"type":"string"},"status":{"type":"integer"},"requestId":{"type":"string"},"detail":{"type":"string"}},"required":["type","title","status","requestId"],"additionalProperties":false}}}},"503":{"description":"Problem details","content":{"application/problem+json":{"schema":{"type":"object","properties":{"type":{"type":"string","format":"uri"},"title":{"type":"string"},"status":{"type":"integer"},"requestId":{"type":"string"},"detail":{"type":"string"}},"required":["type","title","status","requestId"],"additionalProperties":false}}}},"504":{"description":"Problem details","content":{"application/problem+json":{"schema":{"type":"object","properties":{"type":{"type":"string","format":"uri"},"title":{"type":"string"},"status":{"type":"integer"},"requestId":{"type":"string"},"detail":{"type":"string"}},"required":["type","title","status","requestId"],"additionalProperties":false}}}}}}},"/v1/geocode/search":{"get":{"tags":["Geocoding"],"summary":"Forward geocoding","security":[{"ServerKey":[]}],"parameters":[{"schema":{"type":"string","minLength":2,"maxLength":120},"required":true,"name":"q","in":"query"},{"schema":{"type":"string","enum":["BD","IN","PK","NP","BT","LK","MM","ID","PH","TH","MY","SG","VN","KH","LA","BN","TL","MV"]},"required":false,"name":"countryCode","in":"query"},{"schema":{"type":["number","null"]},"required":false,"name":"latitude","in":"query"},{"schema":{"type":["number","null"]},"required":false,"name":"longitude","in":"query"},{"schema":{"type":"string"},"required":false,"name":"language","in":"query"},{"schema":{"type":"integer","minimum":1,"maximum":10,"default":6},"required":false,"name":"limit","in":"query"}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"requestId":{"type":"string"},"datasetVersion":{"type":"string"},"attribution":{"type":"string"},"items":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"secondaryLabel":{"type":"string"},"point":{"type":"object","properties":{"latitude":{"type":"number","minimum":-12,"maximum":38},"longitude":{"type":"number","minimum":60,"maximum":142}},"required":["latitude","longitude"],"additionalProperties":false},"countryCode":{"type":"string","enum":["BD","IN","PK","NP","BT","LK","MM","ID","PH","TH","MY","SG","VN","KH","LA","BN","TL","MV"]},"state":{"type":"string"},"county":{"type":"string"},"city":{"type":"string"},"postcode":{"type":"string"},"street":{"type":"string"},"houseNumber":{"type":"string"}},"required":["id","name","secondaryLabel","point"],"additionalProperties":false}}},"required":["requestId","datasetVersion","attribution","items"],"additionalProperties":false}}}},"400":{"description":"Problem details","content":{"application/problem+json":{"schema":{"type":"object","properties":{"type":{"type":"string","format":"uri"},"title":{"type":"string"},"status":{"type":"integer"},"requestId":{"type":"string"},"detail":{"type":"string"}},"required":["type","title","status","requestId"],"additionalProperties":false}}}},"401":{"description":"Problem details","content":{"application/problem+json":{"schema":{"type":"object","properties":{"type":{"type":"string","format":"uri"},"title":{"type":"string"},"status":{"type":"integer"},"requestId":{"type":"string"},"detail":{"type":"string"}},"required":["type","title","status","requestId"],"additionalProperties":false}}}},"403":{"description":"Problem details","content":{"application/problem+json":{"schema":{"type":"object","properties":{"type":{"type":"string","format":"uri"},"title":{"type":"string"},"status":{"type":"integer"},"requestId":{"type":"string"},"detail":{"type":"string"}},"required":["type","title","status","requestId"],"additionalProperties":false}}}},"413":{"description":"Problem details","content":{"application/problem+json":{"schema":{"type":"object","properties":{"type":{"type":"string","format":"uri"},"title":{"type":"string"},"status":{"type":"integer"},"requestId":{"type":"string"},"detail":{"type":"string"}},"required":["type","title","status","requestId"],"additionalProperties":false}}}},"415":{"description":"Problem details","content":{"application/problem+json":{"schema":{"type":"object","properties":{"type":{"type":"string","format":"uri"},"title":{"type":"string"},"status":{"type":"integer"},"requestId":{"type":"string"},"detail":{"type":"string"}},"required":["type","title","status","requestId"],"additionalProperties":false}}}},"422":{"description":"Problem details","content":{"application/problem+json":{"schema":{"type":"object","properties":{"type":{"type":"string","format":"uri"},"title":{"type":"string"},"status":{"type":"integer"},"requestId":{"type":"string"},"detail":{"type":"string"}},"required":["type","title","status","requestId"],"additionalProperties":false}}}},"429":{"description":"Problem details","content":{"application/problem+json":{"schema":{"type":"object","properties":{"type":{"type":"string","format":"uri"},"title":{"type":"string"},"status":{"type":"integer"},"requestId":{"type":"string"},"detail":{"type":"string"}},"required":["type","title","status","requestId"],"additionalProperties":false}}}},"502":{"description":"Problem details","content":{"application/problem+json":{"schema":{"type":"object","properties":{"type":{"type":"string","format":"uri"},"title":{"type":"string"},"status":{"type":"integer"},"requestId":{"type":"string"},"detail":{"type":"string"}},"required":["type","title","status","requestId"],"additionalProperties":false}}}},"503":{"description":"Problem details","content":{"application/problem+json":{"schema":{"type":"object","properties":{"type":{"type":"string","format":"uri"},"title":{"type":"string"},"status":{"type":"integer"},"requestId":{"type":"string"},"detail":{"type":"string"}},"required":["type","title","status","requestId"],"additionalProperties":false}}}},"504":{"description":"Problem details","content":{"application/problem+json":{"schema":{"type":"object","properties":{"type":{"type":"string","format":"uri"},"title":{"type":"string"},"status":{"type":"integer"},"requestId":{"type":"string"},"detail":{"type":"string"}},"required":["type","title","status","requestId"],"additionalProperties":false}}}}}}},"/v1/geocode/reverse":{"get":{"tags":["Geocoding"],"summary":"Reverse geocoding","security":[{"ServerKey":[]}],"parameters":[{"schema":{"type":["number","null"]},"required":false,"name":"latitude","in":"query"},{"schema":{"type":["number","null"]},"required":false,"name":"longitude","in":"query"},{"schema":{"type":["number","null"],"minimum":0,"maximum":50000,"default":1000},"required":false,"name":"radiusMeters","in":"query"},{"schema":{"type":"string"},"required":false,"name":"language","in":"query"},{"schema":{"type":"integer","minimum":1,"maximum":5,"default":1},"required":false,"name":"limit","in":"query"}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"requestId":{"type":"string"},"datasetVersion":{"type":"string"},"attribution":{"type":"string"},"items":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"secondaryLabel":{"type":"string"},"point":{"type":"object","properties":{"latitude":{"type":"number","minimum":-12,"maximum":38},"longitude":{"type":"number","minimum":60,"maximum":142}},"required":["latitude","longitude"],"additionalProperties":false},"countryCode":{"type":"string","enum":["BD","IN","PK","NP","BT","LK","MM","ID","PH","TH","MY","SG","VN","KH","LA","BN","TL","MV"]},"state":{"type":"string"},"county":{"type":"string"},"city":{"type":"string"},"postcode":{"type":"string"},"street":{"type":"string"},"houseNumber":{"type":"string"}},"required":["id","name","secondaryLabel","point"],"additionalProperties":false}}},"required":["requestId","datasetVersion","attribution","items"],"additionalProperties":false}}}},"400":{"description":"Problem details","content":{"application/problem+json":{"schema":{"type":"object","properties":{"type":{"type":"string","format":"uri"},"title":{"type":"string"},"status":{"type":"integer"},"requestId":{"type":"string"},"detail":{"type":"string"}},"required":["type","title","status","requestId"],"additionalProperties":false}}}},"401":{"description":"Problem details","content":{"application/problem+json":{"schema":{"type":"object","properties":{"type":{"type":"string","format":"uri"},"title":{"type":"string"},"status":{"type":"integer"},"requestId":{"type":"string"},"detail":{"type":"string"}},"required":["type","title","status","requestId"],"additionalProperties":false}}}},"403":{"description":"Problem details","content":{"application/problem+json":{"schema":{"type":"object","properties":{"type":{"type":"string","format":"uri"},"title":{"type":"string"},"status":{"type":"integer"},"requestId":{"type":"string"},"detail":{"type":"string"}},"required":["type","title","status","requestId"],"additionalProperties":false}}}},"413":{"description":"Problem details","content":{"application/problem+json":{"schema":{"type":"object","properties":{"type":{"type":"string","format":"uri"},"title":{"type":"string"},"status":{"type":"integer"},"requestId":{"type":"string"},"detail":{"type":"string"}},"required":["type","title","status","requestId"],"additionalProperties":false}}}},"415":{"description":"Problem details","content":{"application/problem+json":{"schema":{"type":"object","properties":{"type":{"type":"string","format":"uri"},"title":{"type":"string"},"status":{"type":"integer"},"requestId":{"type":"string"},"detail":{"type":"string"}},"required":["type","title","status","requestId"],"additionalProperties":false}}}},"422":{"description":"Problem details","content":{"application/problem+json":{"schema":{"type":"object","properties":{"type":{"type":"string","format":"uri"},"title":{"type":"string"},"status":{"type":"integer"},"requestId":{"type":"string"},"detail":{"type":"string"}},"required":["type","title","status","requestId"],"additionalProperties":false}}}},"429":{"description":"Problem details","content":{"application/problem+json":{"schema":{"type":"object","properties":{"type":{"type":"string","format":"uri"},"title":{"type":"string"},"status":{"type":"integer"},"requestId":{"type":"string"},"detail":{"type":"string"}},"required":["type","title","status","requestId"],"additionalProperties":false}}}},"502":{"description":"Problem details","content":{"application/problem+json":{"schema":{"type":"object","properties":{"type":{"type":"string","format":"uri"},"title":{"type":"string"},"status":{"type":"integer"},"requestId":{"type":"string"},"detail":{"type":"string"}},"required":["type","title","status","requestId"],"additionalProperties":false}}}},"503":{"description":"Problem details","content":{"application/problem+json":{"schema":{"type":"object","properties":{"type":{"type":"string","format":"uri"},"title":{"type":"string"},"status":{"type":"integer"},"requestId":{"type":"string"},"detail":{"type":"string"}},"required":["type","title","status","requestId"],"additionalProperties":false}}}},"504":{"description":"Problem details","content":{"application/problem+json":{"schema":{"type":"object","properties":{"type":{"type":"string","format":"uri"},"title":{"type":"string"},"status":{"type":"integer"},"requestId":{"type":"string"},"detail":{"type":"string"}},"required":["type","title","status","requestId"],"additionalProperties":false}}}}}}},"/v1/routes":{"post":{"tags":["Navigation"],"summary":"Generate a route","security":[{"ServerKey":[]}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"profile":{"type":"string","enum":["DRIVING","BICYCLE","WALKING"]},"points":{"type":"array","items":{"type":"object","properties":{"latitude":{"type":"number","minimum":-12,"maximum":38},"longitude":{"type":"number","minimum":60,"maximum":142},"headingDegrees":{"type":"number","minimum":0,"exclusiveMaximum":360},"headingToleranceDegrees":{"type":"number","minimum":0,"maximum":180},"radiusMeters":{"type":"number","exclusiveMinimum":0,"maximum":1000}},"required":["latitude","longitude"],"additionalProperties":false},"minItems":2,"maxItems":25},"language":{"type":"string"}},"required":["profile","points"],"additionalProperties":false}}}},"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"requestId":{"type":"string"},"datasetVersion":{"type":"string"},"attribution":{"type":"string"},"distanceMeters":{"type":"number","minimum":0},"durationSeconds":{"type":"number","minimum":0},"legs":{"type":"array","items":{"type":"object","properties":{"encodedPolyline6":{"type":"string"},"distanceMeters":{"type":"number","minimum":0},"durationSeconds":{"type":"number","minimum":0},"maneuvers":{"type":"array","items":{"type":"object","properties":{"instruction":{"type":"string"},"distanceMeters":{"type":"number","minimum":0},"durationSeconds":{"type":"number","minimum":0},"beginShapeIndex":{"type":"integer","minimum":0},"endShapeIndex":{"type":"integer","minimum":0},"type":{"type":"integer","minimum":0},"streetNames":{"type":"array","items":{"type":"string"}},"verbalTransitionAlertInstruction":{"type":"string"},"verbalPreTransitionInstruction":{"type":"string"},"verbalPostTransitionInstruction":{"type":"string"},"signText":{"type":"array","items":{"type":"string"}}},"required":["instruction","distanceMeters","durationSeconds","beginShapeIndex","endShapeIndex"],"additionalProperties":false}}},"required":["encodedPolyline6","distanceMeters","durationSeconds","maneuvers"],"additionalProperties":false},"minItems":1}},"required":["requestId","datasetVersion","attribution","distanceMeters","durationSeconds","legs"],"additionalProperties":false}}}},"400":{"description":"Problem details","content":{"application/problem+json":{"schema":{"type":"object","properties":{"type":{"type":"string","format":"uri"},"title":{"type":"string"},"status":{"type":"integer"},"requestId":{"type":"string"},"detail":{"type":"string"}},"required":["type","title","status","requestId"],"additionalProperties":false}}}},"401":{"description":"Problem details","content":{"application/problem+json":{"schema":{"type":"object","properties":{"type":{"type":"string","format":"uri"},"title":{"type":"string"},"status":{"type":"integer"},"requestId":{"type":"string"},"detail":{"type":"string"}},"required":["type","title","status","requestId"],"additionalProperties":false}}}},"403":{"description":"Problem details","content":{"application/problem+json":{"schema":{"type":"object","properties":{"type":{"type":"string","format":"uri"},"title":{"type":"string"},"status":{"type":"integer"},"requestId":{"type":"string"},"detail":{"type":"string"}},"required":["type","title","status","requestId"],"additionalProperties":false}}}},"413":{"description":"Problem details","content":{"application/problem+json":{"schema":{"type":"object","properties":{"type":{"type":"string","format":"uri"},"title":{"type":"string"},"status":{"type":"integer"},"requestId":{"type":"string"},"detail":{"type":"string"}},"required":["type","title","status","requestId"],"additionalProperties":false}}}},"415":{"description":"Problem details","content":{"application/problem+json":{"schema":{"type":"object","properties":{"type":{"type":"string","format":"uri"},"title":{"type":"string"},"status":{"type":"integer"},"requestId":{"type":"string"},"detail":{"type":"string"}},"required":["type","title","status","requestId"],"additionalProperties":false}}}},"422":{"description":"Problem details","content":{"application/problem+json":{"schema":{"type":"object","properties":{"type":{"type":"string","format":"uri"},"title":{"type":"string"},"status":{"type":"integer"},"requestId":{"type":"string"},"detail":{"type":"string"}},"required":["type","title","status","requestId"],"additionalProperties":false}}}},"429":{"description":"Problem details","content":{"application/problem+json":{"schema":{"type":"object","properties":{"type":{"type":"string","format":"uri"},"title":{"type":"string"},"status":{"type":"integer"},"requestId":{"type":"string"},"detail":{"type":"string"}},"required":["type","title","status","requestId"],"additionalProperties":false}}}},"502":{"description":"Problem details","content":{"application/problem+json":{"schema":{"type":"object","properties":{"type":{"type":"string","format":"uri"},"title":{"type":"string"},"status":{"type":"integer"},"requestId":{"type":"string"},"detail":{"type":"string"}},"required":["type","title","status","requestId"],"additionalProperties":false}}}},"503":{"description":"Problem details","content":{"application/problem+json":{"schema":{"type":"object","properties":{"type":{"type":"string","format":"uri"},"title":{"type":"string"},"status":{"type":"integer"},"requestId":{"type":"string"},"detail":{"type":"string"}},"required":["type","title","status","requestId"],"additionalProperties":false}}}},"504":{"description":"Problem details","content":{"application/problem+json":{"schema":{"type":"object","properties":{"type":{"type":"string","format":"uri"},"title":{"type":"string"},"status":{"type":"integer"},"requestId":{"type":"string"},"detail":{"type":"string"}},"required":["type","title","status","requestId"],"additionalProperties":false}}}}}}},"/v1/matches":{"post":{"tags":["Navigation"],"summary":"Match a GPS trace","security":[{"ServerKey":[]}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"profile":{"type":"string","enum":["DRIVING","BICYCLE","WALKING"]},"points":{"type":"array","items":{"type":"object","properties":{"latitude":{"type":"number","minimum":-12,"maximum":38},"longitude":{"type":"number","minimum":60,"maximum":142},"timestampSeconds":{"type":"integer","minimum":0}},"required":["latitude","longitude"],"additionalProperties":false},"minItems":2,"maxItems":2000},"gpsAccuracyM":{"type":"number","exclusiveMinimum":0,"maximum":100},"searchRadiusM":{"type":"number","exclusiveMinimum":0,"maximum":100}},"required":["profile","points"],"additionalProperties":false}}}},"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"requestId":{"type":"string"},"datasetVersion":{"type":"string"},"attribution":{"type":"string"},"encodedPolyline6":{"type":"string"},"distanceMeters":{"type":"number","minimum":0},"durationSeconds":{"type":"number","minimum":0},"confidence":{"type":"number","minimum":0,"maximum":1},"matchedPoints":{"type":"array","items":{"type":"object","properties":{"latitude":{"type":"number"},"longitude":{"type":"number"},"matchType":{"type":"string","enum":["MATCHED","INTERPOLATED","UNMATCHED"]},"edgeIndex":{"type":"integer","minimum":0},"distanceAlongEdge":{"type":"number","minimum":0},"distanceFromTracePointM":{"type":"number","minimum":0}},"required":["latitude","longitude","matchType"],"additionalProperties":false}}},"required":["requestId","datasetVersion","attribution","encodedPolyline6","distanceMeters","durationSeconds","matchedPoints"],"additionalProperties":false}}}},"400":{"description":"Problem details","content":{"application/problem+json":{"schema":{"type":"object","properties":{"type":{"type":"string","format":"uri"},"title":{"type":"string"},"status":{"type":"integer"},"requestId":{"type":"string"},"detail":{"type":"string"}},"required":["type","title","status","requestId"],"additionalProperties":false}}}},"401":{"description":"Problem details","content":{"application/problem+json":{"schema":{"type":"object","properties":{"type":{"type":"string","format":"uri"},"title":{"type":"string"},"status":{"type":"integer"},"requestId":{"type":"string"},"detail":{"type":"string"}},"required":["type","title","status","requestId"],"additionalProperties":false}}}},"403":{"description":"Problem details","content":{"application/problem+json":{"schema":{"type":"object","properties":{"type":{"type":"string","format":"uri"},"title":{"type":"string"},"status":{"type":"integer"},"requestId":{"type":"string"},"detail":{"type":"string"}},"required":["type","title","status","requestId"],"additionalProperties":false}}}},"413":{"description":"Problem details","content":{"application/problem+json":{"schema":{"type":"object","properties":{"type":{"type":"string","format":"uri"},"title":{"type":"string"},"status":{"type":"integer"},"requestId":{"type":"string"},"detail":{"type":"string"}},"required":["type","title","status","requestId"],"additionalProperties":false}}}},"415":{"description":"Problem details","content":{"application/problem+json":{"schema":{"type":"object","properties":{"type":{"type":"string","format":"uri"},"title":{"type":"string"},"status":{"type":"integer"},"requestId":{"type":"string"},"detail":{"type":"string"}},"required":["type","title","status","requestId"],"additionalProperties":false}}}},"422":{"description":"Problem details","content":{"application/problem+json":{"schema":{"type":"object","properties":{"type":{"type":"string","format":"uri"},"title":{"type":"string"},"status":{"type":"integer"},"requestId":{"type":"string"},"detail":{"type":"string"}},"required":["type","title","status","requestId"],"additionalProperties":false}}}},"429":{"description":"Problem details","content":{"application/problem+json":{"schema":{"type":"object","properties":{"type":{"type":"string","format":"uri"},"title":{"type":"string"},"status":{"type":"integer"},"requestId":{"type":"string"},"detail":{"type":"string"}},"required":["type","title","status","requestId"],"additionalProperties":false}}}},"502":{"description":"Problem details","content":{"application/problem+json":{"schema":{"type":"object","properties":{"type":{"type":"string","format":"uri"},"title":{"type":"string"},"status":{"type":"integer"},"requestId":{"type":"string"},"detail":{"type":"string"}},"required":["type","title","status","requestId"],"additionalProperties":false}}}},"503":{"description":"Problem details","content":{"application/problem+json":{"schema":{"type":"object","properties":{"type":{"type":"string","format":"uri"},"title":{"type":"string"},"status":{"type":"integer"},"requestId":{"type":"string"},"detail":{"type":"string"}},"required":["type","title","status","requestId"],"additionalProperties":false}}}},"504":{"description":"Problem details","content":{"application/problem+json":{"schema":{"type":"object","properties":{"type":{"type":"string","format":"uri"},"title":{"type":"string"},"status":{"type":"integer"},"requestId":{"type":"string"},"detail":{"type":"string"}},"required":["type","title","status","requestId"],"additionalProperties":false}}}}}}},"/v1/matrices":{"post":{"tags":["Navigation"],"summary":"Generate a time-distance matrix","security":[{"ServerKey":[]}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"profile":{"type":"string","enum":["DRIVING","BICYCLE","WALKING"]},"sources":{"type":"array","items":{"type":"object","properties":{"latitude":{"type":"number","minimum":-12,"maximum":38},"longitude":{"type":"number","minimum":60,"maximum":142}},"required":["latitude","longitude"],"additionalProperties":false},"minItems":1,"maxItems":25},"targets":{"type":"array","items":{"type":"object","properties":{"latitude":{"type":"number","minimum":-12,"maximum":38},"longitude":{"type":"number","minimum":60,"maximum":142}},"required":["latitude","longitude"],"additionalProperties":false},"minItems":1,"maxItems":25}},"required":["profile","sources","targets"],"additionalProperties":false}}}},"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"requestId":{"type":"string"},"datasetVersion":{"type":"string"},"attribution":{"type":"string"},"distancesMeters":{"type":"array","items":{"type":"array","items":{"type":["number","null"],"minimum":0}}},"durationsSeconds":{"type":"array","items":{"type":"array","items":{"type":["number","null"],"minimum":0}}}},"required":["requestId","datasetVersion","attribution","distancesMeters","durationsSeconds"],"additionalProperties":false}}}},"400":{"description":"Problem details","content":{"application/problem+json":{"schema":{"type":"object","properties":{"type":{"type":"string","format":"uri"},"title":{"type":"string"},"status":{"type":"integer"},"requestId":{"type":"string"},"detail":{"type":"string"}},"required":["type","title","status","requestId"],"additionalProperties":false}}}},"401":{"description":"Problem details","content":{"application/problem+json":{"schema":{"type":"object","properties":{"type":{"type":"string","format":"uri"},"title":{"type":"string"},"status":{"type":"integer"},"requestId":{"type":"string"},"detail":{"type":"string"}},"required":["type","title","status","requestId"],"additionalProperties":false}}}},"403":{"description":"Problem details","content":{"application/problem+json":{"schema":{"type":"object","properties":{"type":{"type":"string","format":"uri"},"title":{"type":"string"},"status":{"type":"integer"},"requestId":{"type":"string"},"detail":{"type":"string"}},"required":["type","title","status","requestId"],"additionalProperties":false}}}},"413":{"description":"Problem details","content":{"application/problem+json":{"schema":{"type":"object","properties":{"type":{"type":"string","format":"uri"},"title":{"type":"string"},"status":{"type":"integer"},"requestId":{"type":"string"},"detail":{"type":"string"}},"required":["type","title","status","requestId"],"additionalProperties":false}}}},"415":{"description":"Problem details","content":{"application/problem+json":{"schema":{"type":"object","properties":{"type":{"type":"string","format":"uri"},"title":{"type":"string"},"status":{"type":"integer"},"requestId":{"type":"string"},"detail":{"type":"string"}},"required":["type","title","status","requestId"],"additionalProperties":false}}}},"422":{"description":"Problem details","content":{"application/problem+json":{"schema":{"type":"object","properties":{"type":{"type":"string","format":"uri"},"title":{"type":"string"},"status":{"type":"integer"},"requestId":{"type":"string"},"detail":{"type":"string"}},"required":["type","title","status","requestId"],"additionalProperties":false}}}},"429":{"description":"Problem details","content":{"application/problem+json":{"schema":{"type":"object","properties":{"type":{"type":"string","format":"uri"},"title":{"type":"string"},"status":{"type":"integer"},"requestId":{"type":"string"},"detail":{"type":"string"}},"required":["type","title","status","requestId"],"additionalProperties":false}}}},"502":{"description":"Problem details","content":{"application/problem+json":{"schema":{"type":"object","properties":{"type":{"type":"string","format":"uri"},"title":{"type":"string"},"status":{"type":"integer"},"requestId":{"type":"string"},"detail":{"type":"string"}},"required":["type","title","status","requestId"],"additionalProperties":false}}}},"503":{"description":"Problem details","content":{"application/problem+json":{"schema":{"type":"object","properties":{"type":{"type":"string","format":"uri"},"title":{"type":"string"},"status":{"type":"integer"},"requestId":{"type":"string"},"detail":{"type":"string"}},"required":["type","title","status","requestId"],"additionalProperties":false}}}},"504":{"description":"Problem details","content":{"application/problem+json":{"schema":{"type":"object","properties":{"type":{"type":"string","format":"uri"},"title":{"type":"string"},"status":{"type":"integer"},"requestId":{"type":"string"},"detail":{"type":"string"}},"required":["type","title","status","requestId"],"additionalProperties":false}}}}}}},"/v1/usage":{"get":{"tags":["Usage"],"summary":"Recent project usage","security":[{"ServerKey":[]}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"requestId":{"type":"string"},"datasetVersion":{"type":"string"},"attribution":{"type":"string"}},"required":["requestId","datasetVersion","attribution"],"additionalProperties":{}}}}},"400":{"description":"Problem details","content":{"application/problem+json":{"schema":{"type":"object","properties":{"type":{"type":"string","format":"uri"},"title":{"type":"string"},"status":{"type":"integer"},"requestId":{"type":"string"},"detail":{"type":"string"}},"required":["type","title","status","requestId"],"additionalProperties":false}}}},"401":{"description":"Problem details","content":{"application/problem+json":{"schema":{"type":"object","properties":{"type":{"type":"string","format":"uri"},"title":{"type":"string"},"status":{"type":"integer"},"requestId":{"type":"string"},"detail":{"type":"string"}},"required":["type","title","status","requestId"],"additionalProperties":false}}}},"403":{"description":"Problem details","content":{"application/problem+json":{"schema":{"type":"object","properties":{"type":{"type":"string","format":"uri"},"title":{"type":"string"},"status":{"type":"integer"},"requestId":{"type":"string"},"detail":{"type":"string"}},"required":["type","title","status","requestId"],"additionalProperties":false}}}},"413":{"description":"Problem details","content":{"application/problem+json":{"schema":{"type":"object","properties":{"type":{"type":"string","format":"uri"},"title":{"type":"string"},"status":{"type":"integer"},"requestId":{"type":"string"},"detail":{"type":"string"}},"required":["type","title","status","requestId"],"additionalProperties":false}}}},"415":{"description":"Problem details","content":{"application/problem+json":{"schema":{"type":"object","properties":{"type":{"type":"string","format":"uri"},"title":{"type":"string"},"status":{"type":"integer"},"requestId":{"type":"string"},"detail":{"type":"string"}},"required":["type","title","status","requestId"],"additionalProperties":false}}}},"422":{"description":"Problem details","content":{"application/problem+json":{"schema":{"type":"object","properties":{"type":{"type":"string","format":"uri"},"title":{"type":"string"},"status":{"type":"integer"},"requestId":{"type":"string"},"detail":{"type":"string"}},"required":["type","title","status","requestId"],"additionalProperties":false}}}},"429":{"description":"Problem details","content":{"application/problem+json":{"schema":{"type":"object","properties":{"type":{"type":"string","format":"uri"},"title":{"type":"string"},"status":{"type":"integer"},"requestId":{"type":"string"},"detail":{"type":"string"}},"required":["type","title","status","requestId"],"additionalProperties":false}}}},"502":{"description":"Problem details","content":{"application/problem+json":{"schema":{"type":"object","properties":{"type":{"type":"string","format":"uri"},"title":{"type":"string"},"status":{"type":"integer"},"requestId":{"type":"string"},"detail":{"type":"string"}},"required":["type","title","status","requestId"],"additionalProperties":false}}}},"503":{"description":"Problem details","content":{"application/problem+json":{"schema":{"type":"object","properties":{"type":{"type":"string","format":"uri"},"title":{"type":"string"},"status":{"type":"integer"},"requestId":{"type":"string"},"detail":{"type":"string"}},"required":["type","title","status","requestId"],"additionalProperties":false}}}},"504":{"description":"Problem details","content":{"application/problem+json":{"schema":{"type":"object","properties":{"type":{"type":"string","format":"uri"},"title":{"type":"string"},"status":{"type":"integer"},"requestId":{"type":"string"},"detail":{"type":"string"}},"required":["type","title","status","requestId"],"additionalProperties":false}}}}}}},"/internal/health/ready":{"get":{"tags":["Operator"],"summary":"Dependency readiness","security":[{"OperatorToken":[]}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"ready":{"type":"boolean"},"datasetVersion":{"type":"string"}},"required":["ready","datasetVersion"]}}}},"503":{"description":"Problem details","content":{"application/problem+json":{"schema":{"type":"object","properties":{"type":{"type":"string","format":"uri"},"title":{"type":"string"},"status":{"type":"integer"},"requestId":{"type":"string"},"detail":{"type":"string"}},"required":["type","title","status","requestId"],"additionalProperties":false}}}}}}},"/internal/metrics":{"get":{"tags":["Operator"],"summary":"Prometheus metrics","security":[{"OperatorToken":[]}],"responses":{"200":{"description":"Prometheus text format"}}}}},"webhooks":{}}
